@import "./../App/scss/all";


body, html {
  @extend .font-family-courgette;
  height: 100%;
  background-image: url('./../assets/images/principalbakcground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  height: 100%;
  color: $color-red;
}
